{% extends "base.html" %}
{% load static %}


{% block logo %}
<div class="logo float-left">
  <h1 class="text-light"><a href="/" class="scrollto font-rajdhani"><span>GEOFLUXO</span></a></h1>
</div>
{% endblock logo %}

{% block nav %}
<nav class="main-nav float-right d-none d-lg-block font-rajdhani">
  <ul id="courses-nav">
    <!-- JSON courses -->
  </ul>
</nav>
{% endblock nav %}


{% block intro %}
<div class="d-flex pb-lg-5">
  <div class="intro-info">
    <h1 class="d-none d-lg-block text-light mb-5 display-1 font-rajdhani pt-5">Notas de Aula</h1>
    <h1 class="d-lg-none text-light mb-5 display-4 font-rajdhani">Notas de Aula</h1>
  </div>
</div>
{% endblock intro %}


{% block main %}

<div id="courses-div" class="container my-5">
  <!-- JSON lectures -->
</div>

{% endblock main %}


{% block js %}

<script type="text/javascript">
  var base_url = "https://grupogeofluxo.pythonanywhere.com";

  // COURSES
  $.ajax({

    url: base_url.concat("/courses"),
    success: function(courses){

      var courses_div = $("#courses-div");
      var courses_nav = $("#courses-nav");

      courses.forEach(function(course){
        courses_nav.append(`<li><a href="#course_${course.id}">${course.short_name}</a></li>`);

        var course_ul_html = `<h2 class="d-none d-lg-block text-primary font-rajdhani display-4" id="course_${course.id}">${course.name}</h2> <h2 class="d-lg-none text-primary font-rajdhani display-5 pt-5" id="${course.name}">${course.name}</h2> <ul id="course-ul-${course.id}"class="list-group"></ul>`;

        courses_div.append(course_ul_html);

        var course_ul = $(`#course-ul-${course.id}`);

        course.lectures.forEach(function(lecture){
          var course_li_html = `<li class="list-group-item"> <div class="d-none d-lg-flex justify-content-between"> <span class="text-secondary font-rajdhani">${lecture.publication_date}</span> <span class="ml-3"><b>${lecture.title}</b></span> <a href="${lecture.url}"> <i class="fa fa-download"></i> </a> </div> <div class="d-flex d-lg-none flex-column"> <div class="d-flex align-items-center justify-content-between"> <span class="w-100 text-secondary font-rajdhani">${lecture.publication_date}</span> <a href="${lecture.url}"> <i class="fa fa-download mx-2"></i> </a> </div> <hr class="w-100 my-0"> <span class="font-rajdhani"><b>${lecture.title}</b></span> </div> </li>`;

          course_ul.append(course_li_html);
        });

      });

      //Smooth nav
      $('.main-nav a, .mobile-nav a, .scrollto').on('click', function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
          var target = $(this.hash);
          if (target.length) {
            var top_space = 0;

            if ($('#header').length) {
              top_space = $('#header').outerHeight();

              if (!$('#header').hasClass('header-scrolled')) {
                top_space = top_space - 20;
              }
            }

            $('html, body').animate({
              scrollTop: target.offset().top - top_space
            }, 1500, 'easeInOutExpo');

            if ($(this).parents('.main-nav, .mobile-nav').length) {
              $('.main-nav .active, .mobile-nav .active').removeClass('active');
              $(this).closest('li').addClass('active');
            }

            if ($('body').hasClass('mobile-nav-active')) {
              $('body').removeClass('mobile-nav-active');
              $('.mobile-nav-toggle i').toggleClass('fa-times fa-bars');
              $('.mobile-nav-overly').fadeOut();
            }
            return false;
          }
        }
      });


  }});

</script>

{% endblock js %}
