{% extends "base.html" %}
{% load static %}

{% block logo %}

<div class="logo float-left">
  <h1 class="text-light"><a href="#intro" class="scrollto font-rajdhani"><span>GEOFLUXO</span></a></h1>
</div>

{% endblock logo %}


{% block nav %}
<nav class="main-nav float-right d-none d-lg-block font-rajdhani">
  <ul>
    <li><a href="#founder">Fundador</a></li>
    <li><a href="#services">Áreas</a></li>
    <li><a href="#about">Inovação</a></li>
    <li><a href="#why-us">Publicações</a></li>
    <li><a href="#portfolio">Portifólio</a></li>
    <li><a href="#team">Time</a></li>
    <li><a href="#clients">Parcerias</a></li>
    <li><a href="#contact">Contato</a></li>
  </ul>
</nav>
{% endblock nav %}


{% block super_intro %}
<div class="d-flex pb-5 pb-lg-0 mb-lg-5 align-items-center justify-content-between">

  <div class="d-none d-lg-block intro-info mx-5">
    <h1 class="text-light display-1 mb-0 font-rajdhani">GEOFLUXO</h1>
    <h3 class="text-light font-rajdhani pb-5"> Grupo de Pesquisa Inovações e Tecnologias Aplicadas em Geotecnia Ambiental</h3>
  </div>

  <div class="d-block d-lg-none intro-info">
    <h1 class="text-light display-2 mb-0 font-rajdhani display-3">GEOFLUXO</h1>
    <h5 class="text-light font-rajdhani pb-3"> Grupo de Pesquisa Inovações e Tecnologias Aplicadas em Geotecnia Ambiental</h5>
  </div>

  <!-- ======= Banner Section ======= -->
  {% include "includes/banner.html" %}
  <!-- End Banner Section -->

</div>
{% endblock super_intro %}

{% block main %}

    <!-- ======= Banner Mobile Section ======= -->
    {% include "includes/banner_mobile.html" %}
    <!-- End Banner Mobile Section -->

    <!-- ======= About Section ======= -->
      {% include "includes/founder.html" %}
    <!-- End About Section -->

    <!-- ======= Services Section ======= -->
      {% include "includes/areas.html" %}
    <!-- End Services Section -->

      <!-- ======= Services Section ======= -->
        {% include "includes/inovacao.html" %}
      <!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
      {% include "includes/publicacoes.html" %}
    <!-- End Why Us Section -->

    <!-- ======= Portfolio Section ======= -->
      {% include "includes/portfolio.html" %}
    <!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
      <!-- {% include "includes/testimonials.html" %} -->
    <!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->

      {% include "includes/time.html" %}
    <!-- End Team Section -->

    <!-- ======= Clients Section ======= -->
      {% include "includes/parceiros.html" %}
    <!-- End Clients Section -->

    <!-- ======= Contact Section ======= -->
      {% include "includes/contato.html" %}
    <!-- End Contact Section -->

    <!-- ======= Modal Section ======= -->
      {% include "includes/modal.html" %}
    <!-- End Modal Section -->

    <!-- ======= ADVERTISEMENT Section ======= -->
      {% include "includes/advertisement.html" %}
    <!-- End ADVERTISEMENT Section -->

{% endblock main %}


{% block js %}
<script type="text/javascript">
  var base_url = "https://grupogeofluxo.pythonanywhere.com";

  // ADVERTISEMENT

  $.ajax({
    url: base_url.concat("/advertisement"),
    success: function(advertisement){
      console.log(advertisement);
      if(advertisement.title){
        $("#ad-title").html(advertisement.title);
        $("#ad-message").html(advertisement.message);
        $("#ad-image").attr("src", advertisement.image);

        // show message popup - toast
        $('#advertisement').modal('show');
        setTimeout(
        function()
        {
          $('#advertisement').modal('hide');
        }, 5000);
      }
    }
  });

  // AREAS
  $.ajax({

    url: base_url.concat("/areas"),
    headers: { 'Content-Type': 'application/json'},
    type: "GET",
    dataType: "json",
    success: function(areas){
    var areas_div = $("#areas");
    var portfolio_filters_ul = $("#portfolio-flters");

    areas.forEach(function(area){

      var area_element = `<div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s"> <div class="box py-3 py-lg-4"> <div class="icon"><i class="${area.icon}" style="color:#007bff;"></i></div> <h4 class="title my-0"><a href="/area.html?id=${area.id}">${area.name}</a></h4> </div> </div>`;
      areas_div.append(area_element);

      var portfolio_filters_li = `<li data-filter=".filter-area-${area.id}">${area.short_name}</li>`;
      portfolio_filters_ul.append(portfolio_filters_li);

    });

    portfolio_filters_ul.append('<li data-filter=".filter-area-outros">outros</li>');

  }});


  // PUBLICATION INDEXES
  $.ajax({

    url: base_url.concat("/publication-indexes"),
    success: function(publication_indexes){
    var publication_indexes_div = $("#publication-indexes");

    publication_indexes.forEach(function(publication_index){

      var publication_index_element = `<div class="text-center"> <span data-toggle="counter-up">${publication_index.value}</span> <p>${publication_index.name}</p> </div>`;

      publication_indexes_div.append(publication_index_element);
    });

    // jQuery counterUp (used in Whu Us section)
    $('[data-toggle="counter-up"]').counterUp({
      delay: 10,
      time: 1000
    });

  }});

  // PORTFOLIO-ITEMS
  $.ajax({

    url: base_url.concat("/portfolio-items"),
    success: function(portfolio_items){
    var portfolio_items_div = $("#portfolio-items");

    portfolio_items.forEach(function(portfolio_item){

      var portfolio_item_element = `<div class="col-lg-4 col-md-6 portfolio-item filter-area-${(portfolio_item.area||'outros')}"> <div class="portfolio-wrap"> <img src="${portfolio_item.image}" class="img-fluid" alt=""> <div class="portfolio-info"> <h4><a href="${portfolio_item.url}">${portfolio_item.title}</a></h4> <p>${portfolio_item.subtitle}</p><a href="${portfolio_item.url}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> </div> </div> </div> </div>`;

      portfolio_items_div.append(portfolio_item_element);
    });

    $(portfolio_items_div).css("height","auto");
    $(document).ready(function() {
      $('.venobox').venobox();
    });



  }});


  // BANNERS
  $.ajax({

    url: base_url.concat("/banners"),
    success: function(banners){
    var banners_div = $("#banners");
    var banners_ol = $("#banners-ol");


    banners.forEach(function(banner, index){

      var banner_element = `<div class="carousel-item ${index==0?'active':''}"> <img src="${banner.image}" class="d-block w-100" alt="${banner.name}"> </div>`;

      var banner_li = `<li data-target="#carousel" data-slide-to="${index}" class="${index==0?'active':''}"></li>`;

      banners_div.append(banner_element);

    });

  }});

  // titles json

  var titles_json = {'M':{'CD':'Coordenador', 'DR':'Doutor', 'MS':'Mestre', 'BC':'Bacharel', 'TC':'Técnico', 'GD':'Graduando'}, 'F':{'CD':'Coordenadora', 'DR':'Doutora', 'MS':'Mestra', 'BC':'Bacharel', 'TC':'Técnica', 'GD':'Graduanda'}};

  // USERS
  $.ajax({

    url: base_url.concat("/users"),
    success: function(users){

    // coordenadores
    var users_coordenadores_div = $("#users_coordenadores");
    var users_coordenadores = users.filter(user => user.title=='CD');

    users_coordenadores.forEach(function(user){
      var user_coordenador_element = `<div class="col-lg-3 col-md-6 wow fadeInUp"> <div class="member"> <img src="${user.image}" class="img-fluid" alt=""> <div class="member-info"> <div class="member-info-content"> <h4>${user.first_name} ${user.last_name}</h4> <span>${titles_json[user.gender][user.title]}</span> <div class="social"> <a href="${user.lattes_url}">Lattes</a> </div> </div> </div> </div> </div>`;
      users_coordenadores_div.append(user_coordenador_element);
    });

    // doutores
    var users_doutores_div = $("#users_doutores");
    var users_doutores = users.filter(user => user.title=='DR');

    users_doutores.forEach(function(user){
      var user_doutor_element = `<div class="col-lg-3 col-md-6 wow fadeInUp"> <div class="member"> <img src="${user.image}" class="img-fluid" alt=""> <div class="member-info"> <div class="member-info-content"> <h4>${user.first_name}</h4> <span>${titles_json[user.gender][user.title]}</span> <div class="social"> <a href="${user.lattes_url}">Lattes</a> </div> </div> </div> </div> </div>`;
      users_doutores_div.append(user_doutor_element);
    });

    // mestres
    var users_mestre_div = $("#users_mestres");
    var users_mestres = users.filter(user => user.title=='MS');

    users_mestres.forEach(function(user){
      var user_mestre_element = `<div class="col-lg-3 col-md-6 wow fadeInUp"> <div class="member"> <img src="${user.image}" class="img-fluid" alt=""> <div class="member-info"> <div class="member-info-content"> <h4>${user.first_name}</h4> <span>${titles_json[user.gender][user.title]}</span> <div class="social"> <a href="${user.lattes_url}">Lattes</a> </div> </div> </div> </div> </div>`;
      users_mestre_div.append(user_mestre_element);
    });


    // bachareis
    var users_bachareis_div = $("#users_bachareis");
    var users_bachareis = users.filter(user => user.title=='BC');

    users_bachareis.forEach(function(user){
      var user_bacharel_element = `<div class="col-lg-3 col-md-6 wow fadeInUp"> <div class="member"> <img src="${user.image}" class="img-fluid" alt=""> <div class="member-info"> <div class="member-info-content"> <h4>${user.first_name}</h4> <span>${titles_json[user.gender][user.title]}</span> <div class="social"> <a href="${user.lattes_url}">Lattes</a> </div> </div> </div> </div> </div>`;
      users_bachareis_div.append(user_bacharel_element);
    });

    // graduandos
    var users_graduandos_div = $("#users_graduandos");
    var users_graduandos = users.filter(user => user.title=='GD');

    users_graduandos.forEach(function(user){
      var user_graduando_element = `<div class="col-lg-3 col-md-6 wow fadeInUp"> <div class="member"> <img src="${user.image}" class="img-fluid" alt=""> <div class="member-info"> <div class="member-info-content"> <h4>${user.first_name}</h4> <span>${titles_json[user.gender][user.title]}</span> <div class="social"> <a href="${user.lattes_url}">Lattes</a> </div> </div> </div> </div> </div>`;
      users_graduandos_div.append(user_graduando_element);
    });

    // tecnicos
    var users_tecnicos_div = $("#users_tecnicos");
    var users_tecnicos = users.filter(user => user.title=='TC');

    users_tecnicos.forEach(function(user){
      var user_tecnico_element = `<div class="col-lg-3 col-md-6 wow fadeInUp"> <div class="member"> <img src="${user.image}" class="img-fluid" alt=""> <div class="member-info"> <div class="member-info-content"> <h4>${user.first_name}</h4> <span>${titles_json[user.gender][user.title]}</span> <div class="social"> <a href="${user.lattes_url}">Lattes</a> </div> </div> </div> </div> </div>`;
      users_tecnicos_div.append(user_tecnico_element);
    });

  }});


  // PARTNERS
  $.ajax({

    url: base_url.concat("/partners"),
    success: function(partners){
    var partners_div = $("#partners");

    partners.forEach(function(partner){

      var partner_element = `<div class="col-lg-3 col-md-4 col-xs-6"> <div class="client-logo"> <a href="/partner_projects.html?id=${partner.id}"> <img src="${partner.image}" class="img-fluid" alt="${partner.name}"> </a></div> </div>`;

      partners_div.append(partner_element);
    });

  }});


  // MESSAGE

  $("#send-msg").click(function(){

    // get form value
    var form_name = $("#form-name").val();
    var form_subject = $("#form-subject").val();
    var form_email = $("#form-email").val();
    var form_text = $("#form-text").val();

    // sending post request
    $.ajax({
      url: base_url.concat("/message"),
      method: "POST",
      data: {"author":form_name, "subject":form_subject, "email":form_email, "text":form_text},
      success: function(response){

        $("#message-element").html(response.message);

        // show message popup - toast
        $('#modal').modal('show');
        setTimeout(
          function()
          {
            $('#modal').modal('hide');
          }, 2000);

      }
    });

  });

</script>
{% endblock js %}
