{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>GEOFLUXO</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/static/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static '/static/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/static/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/static/assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static '/static/assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static '/static/assets/vendor/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static '/static/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '/static/assets/css/style.css' %}" rel="stylesheet">

  {% block css %}
  {% endblock css %}

  <!-- =======================================================
  * Template Name: NewBiz - v2.0.0
  * Template URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container">

      {% block logo %}
      {% endblock logo %}

      {% block nav %}
      {% endblock nav %}

    </div>
  </header><!-- #header -->

  <!-- ======= Intro Section ======= -->
  <section id="intro" class="clearfix">
    {% block super_intro %}
    {% endblock super_intro %}
    <div class="container">

      {% block intro %}
      {% endblock intro %}

    </div>
  </section><!-- End Intro Section -->

  <main id="main">

    {% block main %}
    {% endblock main %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
    {% include "includes/footer.html" %}
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '/static/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/static/assets/js/pre_main.js' %}"></script>

  <script src="{% static '/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/static/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static '/static/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static '/static/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static '/static/assets/vendor/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static '/static/assets/vendor/wow/wow.min.js' %}"></script>
  <script src="{% static '/static/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/static/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static '/static/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static '/static/assets/vendor/venobox/venobox.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/static/assets/js/main.js' %}"></script>

  {% block js %}
  {% endblock js %}

</body>

</html>
